asgiref==3.8.1
black==25.1.0
click==8.1.8
Django==5.0.14
django-redis==5.4.0
django-redis-sessions==0.6.2
hiredis==3.1.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.3.7
redis==5.2.1
sqlparse==0.5.3
